<% for field in fields %> <% if field["type"] in ["int", "float"] %>
<q-input
  filled
  dense
  v-model.trim="<< model_name >>.<< field['name'] >>"
  label="<< field['label'] or field['name'] >>"
  hint="<< field['hint'] >> <% if field['optional'] %> (optional)<% endif %>"
  type="number"
></q-input>
<% elif field.type == "bool" %>
<q-checkbox
  v-model="<< model_name >>.<< field['name'] >>"
  label="<< field['label'] or field['name'] >>"
  hint="<< field['hint'] >>  <% if field['optional'] %> (optional)<% endif %>"
></q-checkbox>
<% elif field.type == "datetime" %>
<q-input
  filled
  dense
  v-model.trim="<< model_name >>.<< field['name'] >>"
  placeholder="YYYY-MM-DD HH:mm"
  label="<< field['label'] or field['name'] >>"
  hint="<< field['hint'] >> <% if field['optional'] %> (optional)<% endif %>"
>
  <template v-slot:append>
    <q-icon name="event" class="cursor-pointer">
      <q-popup-proxy cover transition-show="scale" transition-hide="scale">
        <q-date
          v-model="<< model_name >>.<< field['name'] >>"
          mask="YYYY-MM-DD HH:mm"
        >
          <div class="row items-center justify-end">
            <q-btn v-close-popup label="Close" color="primary" flat />
          </div>
        </q-date>
      </q-popup-proxy>
    </q-icon>
  </template>
</q-input>
<% elif field.type == "wallet" %>
<q-select
  filled
  dense
  emit-value
  v-model="<< model_name >>.<< field['name'] >>"
  :options="g.user.walletOptions"
  label="Wallet <% if field['optional'] %> (optional) <% else %> * <% endif %>"
></q-select>
<% elif field.type == "currency" %>
<q-select
  filled
  dense
  v-model="<< model_name >>.<< field['name'] >>"
  label="<< field['label'] or field['name'] >>"
  hint="<< field['hint'] >> <% if field['optional'] %> (optional)<% endif %>"
  :options="currencyOptions"
></q-select>
<% else %>
<q-input
  filled
  dense
  v-model.trim="<< model_name >>.<< field['name'] >>"
  label="<< field['label'] or field['name'] >>"
  hint="<< field['hint'] >> <% if field['optional'] %> (optional)<% endif %>"
></q-input>
<% endif %> <% endfor%>
